* {
  font-family: 'Courier New', Courier, monospace;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
}
.topnav ul {
  overflow: hidden;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 47.8px;
}
.topnav {
  background-image: linear-gradient(to right, #f7bbbb, #83d7e7);
}

.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.topnav a:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.5s;
}
.topnav .icon {
  display: none;
}
div.iconbar {
  width: 20px;
  height: 2.6px;
  background-color: rgb(255, 255, 255);
  margin: 3px 0;
  border-radius: 10px;
}
a.logo {
  position: absolute;
  float: left;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-image: url(logowhite.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
}
.main-content {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgb(0, 0, 0, 0.7)),  url(background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
  height: 1000px;
}
.box {
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  margin-right: -20px;
  margin-left: -20px;
}
.md12 {
  float: left;
  width: 100%;
}
.greet {
  margin-top: 130px;
  font-size: 62.6pt;
  font-weight: bold;
  color: white;
  text-align: center;
}
.intro {
  margin-top: 30px;
  font-size: 32pt;
  color: white;
  text-align: center;
}
.qualifications, .skills {
  margin-top: 60px;
  text-align: center;
  
}
.qualifications a, .skills a {
  width: 300px;
  height: 69px;
  font-size: 19.7pt;
  display: inline-block;
  padding-top: 20px;
  background-color: white;
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.qualifications a:hover, .skills a:hover {
  background-color: rgba(255, 255, 255, 0.7);
  transition: 0.5s;
}
.footer-content {
  height: 250px;
  background-color: #646464;
}
.footer-content {
  text-align: center;
}
.footer-logo, .footer-products, .footer-address, .footer-contact {
  margin-top: 30px;
}
a.logowhite {
  margin:auto 40px auto 100px;
  display: flex;
  background-image: url(logowhite.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 200px;
  height: 69px;
}
.footer-logo p {
  text-align: left;
  margin-top: 25px;
  margin-left: 100px;
  color: #c2c2c2;
}
/* Mobile and tablet */
@media screen and (max-width: 768px) {
  .topnav li:first-child {
    display: block;
    float: left;
  }
  .topnav li:nth-child(2) {display: none;}
  .topnav li:nth-child(3) {display: none;}
  .topnav li:nth-child(4) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .skills {
    margin-top: 40px;
  }
}
@media screen and (max-width: 768px) {
.sm12 {
  float: left;
  width: 100%;
}  
}

@media screen and (max-width: 768px) {
  .topnav.responsive li:not(:first-child) {
    display: block;
    clear: both;
    text-align: center;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
  .topnav.responsive ul {
    transition: height 0.3s;
    height: 188px;
  }
  .topnav ul {
    transition: height 0.3s;
    height: 47.8px;
  }

}

/* Laptop and desktop */
@media screen and (min-width: 769px) {
.md6 {
  float: left;
  width: 50%;
}
.md3 {
  float: left;
  width: 25%;
  
}
}
